.listing {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    &__events-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -30px -120px;
    }
    &__card-event {
        max-width: 405px;
        width: calc(33.333% - 40px);
        margin: 0 30px 120px;
        /*&--ml0 {
            margin-left: 0;
        }
        &--mr0 {
            margin-right: 0;
        }
        &:nth-child(2) {
            margin-left: 0;
            margin-right: 0;
        }*/
    }
    &__event-card:nth-child(3n) {
        margin-right: 0;
    }
    &__link {
        align-self: end;
        padding: 15px 0px 15px 40px;
        margin-top: 70px;
    }
}
